<nav aria-label="Pagination">
  <ul class="pagination">
    {% if has_prev %}
    <li class="pagination-previous"><a href="{% url games %}?order_by=created_at&page={{ current|subtract:1 }}" aria-label="Previous page">Previous
        <span class="show-for-sr">page</span></a></li>
    {% else %}
    <li class="pagination-previous disabled">Previous <span class="show-for-sr">page</span></li>
    {% endif %}
    {% for index in page_range %}
    {% if index == current %}
    <li class="current"><span class="show-for-sr">You're on page</span> {{ index }}</li>
    {% else %}
    <li><a href="#" aria-label="Page {{ index }}">{{ index }}</a></li>
    {% endif %}
    {% endfor %}
    {% if has_next %}
    <li class="pagination-next"><a href="#" aria-label="Next page">Next <span class="show-for-sr">page</span></a></li>
    {% else %}
    <li class="pagination-next disabled">Next <span class="show-for-sr">page</span></li>
    {% endif %}
  </ul>
</nav>
