<div>
  <div>
    {{ review.created_by }}
    {% if request.user.profile == review.created_by %}
      <button id="delete_review" type="button" title="Delete review." class="button alert compact float-right">Delete</span>
    {% endif %}
  </div>

  <p class="f_tiny">Grade: {% include 'review_circles.html' with classes="small" %}</p>
  <p class="f_tiny"><em>{{ review.created_at|date:"F d, Y – H:i" }}</em></p>
  <p>{{ review.content }}</p>
  <hr>
</div>

<script>
  (() => {
    const deleteReviewBtn = document.getElementById("delete_review");
    const gameID = "{{ game.id }}";
    const onDeleteClick = (e) => {
      defaultFetch(`/games/${gameID}/review/delete/`)
        .then(response => response.json())
        .then(response => {
          if (response.message == "success") {
            deleteReviewBtn.parentNode.parentNode.remove();
          } else {
            deleteReviewBtn.innerText = response.message;
            deleteReviewBtn.classList.add("disabled");
          }
        });
    };
    deleteReviewBtn.addEventListener("click", onDeleteClick);
  })();
</script>
