/*
    This file hosts all styles not related to foundation.css
    See `static/libs/foundation/css/app.css` if you wish to modify foundation styles.
*/
.view {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .view {
        width: 750px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .view {
        width: 970px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .view {
        width: 1170px;
    }
}
