{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WSD - project</title>
  <!-- Foundation -->
  <link rel="stylesheet" href="{% static 'libs/foundation/css/foundation.min.css' %}">
  <link rel="stylesheet" href="{% static 'libs/foundation/css/app.css' %}">
  <script src="{% static 'libs/foundation/js/vendor/jquery.js' %}"></script>
  <script src="{% static 'libs/foundation/js/vendor/foundation.min.js' %}"></script>
  <!-- Font-Awesome fonts -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
    crossorigin="anonymous">
  <!-- Fetch Polyfill -->
  <!-- <script src=https://cdn.jsdelivr.net/npm/promise-polyfill@8.1/dist/polyfill.min.js></script>
        <script src=https://cdn.jsdelivr.net/npm/whatwg-fetch@3.0/dist/fetch.umd.min.js></script> -->
  <!-- Application css -->
  <link rel="stylesheet" href="{% static 'styles/app.css' %}">
</head>

<body>
  <div class="view">
    {% include 'navigation/navigation.html' %}
    <div class="container content">
      <div class="grid-x grid-padding-y grid-padding-x">
        <div class="cell medium-10 medium-offset-1">
          {% include 'breadcrumbs.html' %}
          {% block content %}
          {% endblock content %}
        </div>
      </div>
    </div>
    <div class="spacer"></div>
    {% include 'footer/footer.html' %}
  </div>
  <!-- Load Foundation JS -->
  <script src="{% static 'libs/foundation/js/app.js' %}"></script>
  <!-- Load general JS for all pages -->
  <script src="{% static 'scripts/app.js' %}"></script>
  <!-- Load custom JS for the specific page. -->
  {% block customjs %}
  {% endblock customjs %}
</body>

</html>
