{% if crumbs and crumbs|length > 1 %}
<nav class="breadcrumbs_container" aria-label="You are here:" role="navigation">
  <ul class="breadcrumbs">
    {% for crumb in crumbs %}
    <li>
      {% if crumb.url %}
      {% if crumb.is_game_url %}
      <a href="{% url crumb.url game_id=crumb.game.id %}">{{ crumb.label }}</a>
      {% else %}
      <a href="{% url crumb.url %}">{{ crumb.label }}</a>
      {% endif %}
      {% else %}
      <span>{{crumb.label}}</span>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</nav>
{% elif not nopad %}
<div class="spacer"></div>
{% endif %}
