{% extends 'base.html' %}

{% block content %}

<div>
  <div class="grid-x">
    <div class="cell small-12 medium-6 callout secondary large front-page_callout">
      Hey bro you a gamer? So am I!
      Wanna play some epic games via your browser?
      <a href="{% url 'signup' %}">Register</a> to do that! It is free!
    </div>
    <div class="cell small-12 medium-6 callout primary large front-page_callout">
      Hey, developer!
      Looking for a nice platform to put your games on?
      <a href="{% url 'games' %}">Check what we are about</a>!
    </div>
    <div class="spacer"></div>
    <div class="cell callout large-x">
      <h1 class="h3">What is this Gaming Platform?</h1>
      <p>
        Hello you! We thank you for your interest towards our service. What service you ask? Well, the one and only JavaScript Gaming Platform!
        We offer a wide variety of JavaScript games that you, as a player or as a developer, can enjoy. There are interesting features other than gaming,
        one can review games also! In addition to this, you can see statistics of games and highscores. All this without any registration fee!
      </p>
      <p>
        If the aforesaid is not your thing but you are interested in making a living out of game development then look no further.
        For developers we offer an easy to use tools that you can upload your games with the price you wish. You can also change the pricing
        at any given date if you wish to give a discount on holidays for example. We provide you with in-depth statistics of how the sales are doing!
      </p>
      <a href="mailto:this.is@totally-legit.email" class="button float-right">Contact us</a>
    </div>
  </div>
</div>

{% endblock content %}
