{% extends 'base.html' %}

{% block content %}

<div>
  <div class="grid-x">
    <div class="cell small-6 callout warning large">left</div>
    <div class="cell small-6 callout success large">right</div>
    <div class="spacer"></div>
    <div class="cell callout large">
      <h1 class="h3">What is CS-C3170 Gaming Page?</h1>
      <p class="f_tiny">
        Elit sed adipisci delectus atque labore officiis consequuntur! Nobis ut blanditiis reprehenderit suscipit fugit Quibusdam ab eaque blanditiis repellat vitae Quos eum sint ex neque illo! Blanditiis incidunt consectetur aspernatur vitae sequi? Laboriosam deserunt recusandae reprehenderit ad corrupti. Eum enim adipisci voluptate ea voluptates architecto, pariatur officia. Molestias facilis vitae earum repellat earum harum. Fugiat asperiores nobis sint et maiores. Blanditiis ut aut beatae a eligendi Vel magni minus reprehenderit provident animi laboriosam Sed sapiente aliquid consequuntur mollitia corporis numquam explicabo id mollitia dolores officia. Neque facilis veritatis deleniti illum ea repudiandae, veritatis vitae Ab culpa illo totam ipsam vero
      </p>
      <p class="f_tiny">
        Sit sit laboriosam fugit voluptatum molestias! Lorem cumque libero illo culpa quis neque. Nemo alias repudiandae nobis amet doloribus. Sint maiores sequi illum eaque debitis repudiandae ut, magni beatae? Aliquid nihil ab provident molestiae magnam. Cumque modi natus provident ducimus adipisci Incidunt sed quasi eius maiores reprehenderit minima Quos ad nobis voluptatem temporibus maiores recusandae. Sequi nostrum eius ipsum expedita facilis Ut sed laudantium quasi at iure Impedit cum neque quas quo eaque Fuga reprehenderit optio est esse repellat explicabo
      </p>
    </div>
  </div>
</div>

{% endblock content %}
