{% if game %}
<li class="grid-x">
  <div class="cell large-auto">
    <p>
      <a href="#">{{game.name}}</a>
      {# % if game.has_categories % #}
      <br>
      {% with "list test" as categories_list %}
        {% include 'games/game_categories.html' with categories=categories_list.split class="f_tiny" %}
      {% endwith %}
      {# % endif % #}
    </p>
  </div>
  <p class="cell large-shrink">
      {# % if game.has_label % #}
      <span class="label">Some label</span>
      {# % endif % #}
      {% include 'review_circles.html' with size="small" %}
  </p>
</li>
{% endif %}
