{% extends 'base.html' %}
{% load static %}

{% block content %}

{% with search_url='/games/search' %}
{% include 'search_form.html'%}
{% endwith %}

<div>
  <h1 class="h4">Games</h1>
  {# Latest games #}
  {% if latest %}
  <h2 class="h5">Latest</h1>
  <div class="no-bullet game_list">
    {% for game in latest %}
    {% include 'games/game_list_item.html' %}
    {% endfor %}
  </div>
  <p class="text-right">
    <a href="{% url 'games' %}?order_by=created_at&page=1">View more</a>
  </p>
  {% else %}
    No games added.
  {% endif %}

  {# Most popular games #}
  {% if popular %}
  <h2 class="h5">Popular</h1>
  <div class="no-bullet game_list">
    {% for game in popular %}
    {% include 'games/game_list_item.html' %}
    {% endfor %}
  </div>
  <p class="text-right">
    <a href="{% url 'games' %}?order_by=grade&page=1">View more</a>
  </p>
  {% endif %}

  {% if items %}
  <div class="no-bullet game_list">
    {% for game in items %}
    {% include 'games/game_list_item.html' %}
    {% endfor %}
  </div>
  {% include 'games/pagination.html' %}
  {% endif %}

  {% if query and not latest and not popular and not items %}
    <p>No results found with given query: <em>{{ query }}</em>.</p>
  {% endif %}

</div>

{% endblock content %}

{% block customjs%}
<script src="{% static 'scripts/search/search.js' %}"></script>
{% endblock customjs%}
