{% extends 'base.html' %}
{% load static%}
 
{% block content %}
{% include 'search_form.html'%}
<div>
  {% if latest %}
    <h1 class="h4 subheader uppercase">Latest</h1>
    <ul class="no-bullet game_list">
        {% for game in latest %}
        {% include 'games/game_list_item.html' %}
        {% endfor %}
    </ul>

    {% if latest|length == 5 %}
    <p class="text-right">
      <a href="#">View more</a>
    </p>
    {% endif %}

  {% else %}
    <p>No results for {{query}}</p>
  {% endif %}
</div>

{% endblock content %}

{% block customjs%}
<script src="{% static 'scripts/search/search.js' %}"></script>
{% endblock customjs%}