{% extends 'base.html' %}
{% load static%}

{% block content %}

{% with search_url='/games/library/search' %}
{% include 'search_form.html' %}
{% endwith %}

<div>
  <h1 class="h4">My games</h1>
  {% if purchases %}
  <div class="game_list">
    {% for purchase in purchases.all %}
    {% with purchase.game as game %}
    {% include 'games/game_list_item.html' %}
    {% endwith %}
    {% endfor %}
  </div>
  {% elif query %}
  <p>No results for {{query}}</p>
  {% else %}
  <p>You haven't purchased any purchases!<p>
  {% endif %}
</div>

{% endblock content %}

{% block customjs%}
<script src="{% static 'scripts/search/search.js' %}"></script>
{% endblock customjs%}
