{% load custom_filters %}

<nav aria-label="Pagination">
  <div class="pagination clearfix">
    {% if page > 1 %}
    <div class="pagination-previous float-left"><a href="{% url 'games' %}?order_by={{ order_by }}&page={{ page|subtract:1 }}" aria-label="Previous page">
      Previous <span class="show-for-sr">page</span></a></div>
    {% endif %}
    {% if has_next %}
    <div class="pagination-next float-right"><a href="{% url 'games' %}?order_by={{ order_by }}&page={{ page|add:1 }}" aria-label="Next page">
      Next <span class="show-for-sr">page</span></a></div>
    {% endif %}
  </div>
</nav>
