  {% if purchases %}
    <table>
      <thead>
        <tr>
          <th>Game</th>
          <th>Purchased at</th>
          <th>Price</th>
        </tr>
        {# should not display user who bought the game #}
      </thead>
      <tbody>
        {% for purchase in purchases.all %}
          <tr>
            <td>
              <a title="{{purchase.game.name}}" href="/games/{{purchase.game.id}}">
                {{purchase.game.name}}
              </a>
            </td>
            <td>{{purchase.purchased_at}}</td>
            <td>{{purchase.price}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    No one has bought your games!
  {% endif %}
