{% extends 'base.html' %}

{% block content %}

<div>
  <div class="text-center">
    <span class="grey">{{ game.created_at|date:"F d, Y" }}</span>
    <h1 class="uppercase h4">{{ game.name }}</h1>
    <span class="capitalized">{{ game.created_by }}</span>
  </div>

  {% if game.tags %}
  <div class="game-tags">
    {% include 'games/game_tags.html' %}
  </div>
  {% endif %}

  <h5>Description</h5>
  <p>{{ game.description }}</p>
  <div class="float-right">
    {% if purchased %}
    <a class="button" href="/games/{{game.id}}/play">Play game</a>
    {% else %}
    <a class="button" href="/games/{{game.id}}/purchase">Purchase game</a>
    {% endif %}
  </div>
</div>

{% endblock %}
