{% extends 'base.html' %}

{% block content %}

<div>
  <div class="game-header text-center">
    <div class="grey uppercase">{{ game.created_at|date:"F d, Y" }}</div>
    <h1 class="uppercase h4">{{ game.name }}</h1>
    <div class="capitalized">{{ game.created_by }}</div>
    {% if request.user.is_authenticated %}
    {% include 'review_circles.html' with classes="large" %}
    {% endif %}
  </div>

  {% if game.tags %}
  <div class="game-tags">
    {% include 'games/game_tags.html' %}
  </div>
  {% endif %}

  <h5>Description</h5>
  <p>{{ game.description }}</p>
  {% if request.user.is_authenticated %}
  <div class="clearfix">
    {% if purchased %}
    <a class="button float-right" href="/games/{{game.id}}/play">Play game</a>
    {% else %}
    <a class="button float-right" href="/games/{{game.id}}/purchase">Purchase game</a>
    {% endif %}
  </div>
  {% else %}
  <h5>Note</h5>
  <p>Only registered users can review and play the game.</p>
  {% endif %}
</div>

{% endblock %}
