{% extends 'base.html' %}
{% load static %}

{% block content %}

  {% include 'search.html'%}

  {% if latest %}
  <ul>
    <h2>Latest</h2>
    {% for game in latest %}
    <li>{{game.name}}</li>
    {% endfor %}
  </ul>
  {% else %}
  <p>Someone has to upload some games first!</p>
  {% endif %}

{% endblock content %}

{% block customjs%}
  <script>
    "use strict";
    let data = "{{suggestionResult}}";
  </script>
  <script src="{% static 'search/search.js' %}"></script>
{% endblock customjs%}
