{% extends 'base.html' %}
{% load static %}

{% block content %}
{% if game %}
<div>
  <h1>{{ game.name }}</h1>
  <div class="responsive-embed widescreen game-container">
    <iframe id="game" src="{{ game.url }}" frameborder="0" allowfullscreen></iframe>
  </div>

  <div>
    <h3>Leaderboard</h3>
    {% if highscores %}
    <ol>
      {% for score in highscores %}
      <li>{{ score.created_by }} – {{ score.score }}</li>
      {% endfor %}
    </ol>
    {% else %}
    <p>No scores submitted as of yet.</p>
    {% endif %}
  </div>
</div>

{% endif %}
{% endblock content %}

{% if game %}
{% block customjs %}
<!-- Pass Django variables to JS (global scope). -->
<script>
  "use strict";
  const rawGameURL = "{{ game.url }}";
  const gameID = "{{ game.id }}";
  const gameURL = new URL("{{ game.url }}");
</script>

<script src="{% static 'scripts/play/message_validation.js' %}"></script>
<script src="{% static 'scripts/play/play.js' %}"></script>
{% endblock customjs %}
{% endif %}
